/* Style for events when hovered or selected */
.fc-event:hover,
.fc-event-selected {
    color: white !important; /* Set text color to black */
    background: #212b36 !important; /* Set background color to white */
    cursor: pointer;
}

/* Style for list view events when hovered */
a.fc-list-day-text:hover {
    color: white !important; /* Ensure the text color is black when hovered */
}

/* Style for calendar events */
.fc-event {
    color: #212b36 !important; /* Set default text color to black */
}

.fc-list-event:hover,
.fc-list-event-selected{
    color:#212b36 !important; /* Set text color to black */
    background: #212b36 !important; /* Set background color to white */
        cursor: pointer;
}


.custom-select {
    position: relative;
}
.select-wrapper {
    position: relative;
    width: 100%;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-right: 30px;
}
.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    pointer-events: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
}